/* Main sections */
.content-section {
    position: relative;
    width: 100%;
    padding: 3rem 3rem 1rem 3rem;
    min-height: calc(100vh - 150px);
    display: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform: translateZ(0);
}

.content-section.active {
    display: block;
}

/* Home section */
#home {
    overflow: hidden;
    padding-bottom: 3rem;
}

/* Sponsorship section */
#sponsorship {
    padding-bottom: 3rem;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Leaderboards section */
#leaderboards {
    padding-bottom: 3rem;
}

/* Bonuses section */
#bonuses {
    padding-bottom: 3rem;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Community section */
#community {
    padding-bottom: 3rem;
}